<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--classpath:mapper/ProjectMapper.xml  -->
<mapper namespace="cn.aliyun.ttms.team.dao.TeamDao"> 
		<!-- 一般涉及到多表查询时，返回的结果通常会封装到map对应dao中的方法：
		List<Map<String,Object>findPageObjects(....)> -->
		<select id="findPageObjects" resultType="map"  >
				select t.*,p.name projectName
				from tms_teams t join tms_projects p
				on t.projectId=p.id
				<where>
						 <if test="projectName!=null and projectName!=''">
		            			 p.name like CONCAT ("%",#{projectName},"%")
		        		</if>
		        		<if test='valid!=null'>
								and t.valid=#{valid}		            			 
		        		</if>
				</where>
				order by createdTime desc
				limit #{startIndex},#{pageSize}
		</select>
		<!--统计记录数(要根据记录数计算总页数)   返回值必须是整形的  count(*)  -->
		<select id="getRowCount" resultType="java.lang.Integer">
				select count(*) from tms_teams t join tms_projects p on t.projectId=p.id
					<where>
						 <if test="projectName!=null and projectName!=''">
		            			 p.name like CONCAT ("%",#{projectName},"%")
		        		</if>
		        		<if test='valid!=null'>
								and t.valid=#{valid}		            			 
		        		</if>
				</where>
		</select>
		
		<!-- 插入项目信息 -->
		<insert id="insertObject" 
		parameterType="cn.aliyun.ttms.team.entity.Team" >
		INSERT INTO tms_teams(
		id,
		name,
		projectId,
		valid,
		note,
		createdUser,
		modifiedUser,
		createdTime,
		modifiedTime
		)
		values(
		#{id},
		#{name},
		#{projectId},
		#{valid},
		#{note},
		#{createdUser},
		#{modifiedUser},
		now(),
		now()
		)
		</insert>
		
		<!-- 修改项目信息 -->
		 <update id="updateObject" parameterType="cn.aliyun.ttms.team.entity.Team">
	          update tms_teams
			  set 
			  		
			  		name=#{name},
			  		valid=#{valid},
			  		projectId=#{projectId},
			  		note=#{note},
				  modifiedUser=#{modifiedUser},
				  modifiedTime=NOW()
			  where id=#{id};
	    </update> 
		
		
		<!-- 更新多条数据 -->
		<update id="validById">
			update tms_teams
			set valid=#{valid}
			where id in   
			<foreach collection="ids" open="(" close=")" separator=","  item="item">
						#{item}		
			</foreach>
		</update>
		
		<!-- 根据id查找项目对象 -->
		<select id="findObjectById" parameterType="java.lang.Integer" 
		resultType="cn.aliyun.ttms.team.entity.Team">
			select*from tms_teams
			where id=#{id}
		</select>
		
		
		
		
</mapper>